.calc{
    width: 500px;
    height: 500px;
    background-color: gray;
    margin-left: 500px;
    margin-top: 50px;
}
#result{
    width: 385px;
    height: 35px;
    margin-left: 45px;
    margin-top: 25px;
    pointer-events: none;
}
.btm{
    width: 60px;
    height: 45px;
    margin-left: 45px;
    margin-top: 20px;
}